html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title email
  style.
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Merienda:wght@600&family=Roboto:ital,wght@1,300&family=Sansita:wght@700&display=swap');
    *{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Merienda;
    }
    body{
    padding: 10px;
    }
    p{
    margin:10px 0;
    font-size: 14px;
    color: rgb(32, 32, 32);
    }
    .link_button{
    display: flex;
    justify-content: center;
    }
    .link_button button{
    height: 35px;
    outline: none;
    background-color: #0052ff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    }
    .email-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    }
    .email-wrapper{
    width: 100%;
    max-width: 700px;
    }
    h2{
    margin-bottom: 20px;
    text-align: left;
    }
  body
    .email-container
      .email-wrapper
        h2 Welcome to msftrades - Your Journey Begins Here!
        h4 Hello #{username}
        p
          | Welcome to [Forex and Trading Platform Name]! We are delighted to have you as a member of our thriving trading community. Get ready to embark on an exciting journey of financial opportunities, expert insights, and powerful tools to help you navigate the world of forex trading.
          | At [Forex and Trading Platform Name], we strive to provide you with a seamless and rewarding trading experience. Whether you are a seasoned trader or just starting your trading journey, our platform is designed to cater to your needs and empower you with the tools and resources necessary to succeed.
          | Here are a few key highlights of what you can expect from our platform:
          p
            | 1. User-Friendly Interface: Our intuitive and user-friendly platform interface ensures a smooth and hassle-free trading experience. Accessible across various devices, you can trade on-the-go and stay connected to the markets at all times.
          p
            | 2. Comprehensive Market Analysis: Gain valuable insights and stay ahead of the game with our comprehensive market analysis tools. From real-time market data and charts to in-depth technical and fundamental analysis, we equip you with the information you need to make informed trading decisions.
          p
            | 3. Wide Range of Trading Instruments: Explore a vast array of trading instruments, including major and minor currency pairs, commodities, indices, and cryptocurrencies. Diversify your portfolio and capitalize on diverse market opportunities.
          p
            | 4. Cutting-Edge Trading Tools: Maximize your trading potential with our advanced trading tools and features. Take advantage of built-in risk management tools, customizable charts, automated trading options, and more, all designed to enhance your trading strategy.
          p
            | 5. Educational Resources and Support: Expand your knowledge and improve your trading skills with our extensive educational resources. From beginner tutorials to expert webinars and personalized support, we are committed to helping you grow as a trader.
          | To get started, simply log in to your account using your registered username and password. Should you need any assistance along the way, our dedicated customer support team is here to help. Feel free to reach out to us at [support email or phone number] with any questions or concerns you may have.
          | Before you dive into the exciting world of trading, we encourage you to complete your account verification process, as outlined in the verification email we sent earlier. This step ensures the security of your account and enables you to access all features of our platform without any limitations.
          | Once again, we extend our warmest welcome to you. We are thrilled to have you as part of our trading community and look forward to supporting you on your trading journey.
        p Happy trading! and investments,
        p Best regards,
        p MSFTRADES
        a(href="https://msftrades.com") msftrades.com